@import "var";

.login {
    .container-fluid {
        height: 10vh;
        min-height: 100px;
    }
    &-header {
        color: white;
        background-color: $primary;
        padding: 10px 0;
        div {
            font-size: 40px;
            padding-left: 20px;
        }
    }
    &-form-container {
        margin-top: 15%;
        .button-container {
            padding: 0 15px;
        }
        @include media-breakpoint-up(sm) { 
            border: 4px solid $primary;
            padding: 50px;
            border-radius: 20px;
        }
    }
}