<h4 id="subheader">Zmień hasło</h4>
<mat-form-field class="w-100 mt-3">
    <mat-label>Nowe hasło</mat-label>
    <input [formControl]="password" type="password" matInput>
    <mat-error *ngIf="password.hasError('required')">
        Hasło jest wymagane!
    </mat-error>
    <mat-error *ngIf="password.hasError('pattern')">
        Hasło musi zawierać przynajmniej jedną wielką, jedną małą literę i symbol.
    </mat-error>
    <mat-error *ngIf="password.hasError('minlength')">
        Hasło musi mieć przynajmniej 5 znaków.
    </mat-error>
</mat-form-field>
<div class="d-flex justify-content-between mt-3">
    <button (click)="cancel()" mat-stroked-button color="accent">Anuluj</button>
    <button (click)="confirm()" mat-raised-button color="primary">Potwierdź</button>
</div>