@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$primary: #009688;
$accent: #607d8b;
$warn: #ff5722;

$accent-lighter: #cfd8dc;