<div class="container mt-5">
    <div class="row contact">
        <app-office-info (getData)="fetchInfo()" [data]="officeData" class="col-lg-5"></app-office-info>
        <div class="col-lg-7 contact-map mt-3 mt-lg-0">
            <iframe [ngClass]="{'d-none': !mapIsLoaded}" class="map" (load)="mapLoaded()" loading="lazy" allowfullscreen
                src="https://maps.google.com/maps?width=100%25&amp;height=500&amp;hl=pl&amp;q=Wroc%C5%82aw%20Trwa%C5%82a%205+(Prodental)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
            </iframe>
            <app-spinner *ngIf="!mapIsLoaded"></app-spinner>
        </div>
    </div>
    <div class="row mt-3 mt-lg-5">
        <div class="col-12">
            <app-subheader-edit (isEditing)="edit($event)" (isSaved)="save($event)" (isCanceled)="cancel($event)" [edit]="isEditing" header="Informacje i kontakt"></app-subheader-edit>
            <p class="mt-3" *ngIf="officeData && !isEditing">{{officeData.address.information}}</p>
            <mat-form-field class="mt-3" *ngIf="officeData && isEditing" class="w-100">
                <textarea class="text-field" matInput [value]="officeInfo.value" [formControl]="officeInfo"></textarea>
                </mat-form-field>
            <app-spinner *ngIf="!officeData"></app-spinner>
        </div>
    </div>
</div>