<div *ngIf="!isLoading" class="container mt-5">
    <button (click)="back()" mat-stroked-button color="accent" class="mb-3">Powrót</button>
    <app-subheader-edit (isEditing)="edit($event)" (isSaved)="save($event)" (isCanceled)="cancel($event)" [edit]="isEditing" header="{{name}}"></app-subheader-edit>
    <h5 id="subheader" class="mt-2">Dane osobowe</h5>
    <form [formGroup]="patientForm" class="row form">
        <mat-form-field class="col-md-6 col-lg-4">
            <mat-label>Imię</mat-label>
            <input formControlName="firstName" type="text" matInput>
            <mat-error *ngIf="patientForm.get('firstName').hasError('required')">
                Imię jest wymagane!
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-6 col-lg-4">
            <mat-label>Drugie imię</mat-label>
            <input formControlName="secondName" type="text" matInput>
            <mat-error *ngIf="patientForm.get('secondName').hasError('required')">
                Drugie imię jest wymagane!
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-6 col-lg-4">
            <mat-label>Nazwisko</mat-label>
            <input formControlName="lastName" type="text" matInput>
            <mat-error *ngIf="patientForm.get('lastName').hasError('required')">
                Nazwisko jest wymagane!
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-6 col-lg-4">
            <mat-label>Telefon</mat-label>
            <input formControlName="phoneNumber" type="number" matInput>
            <mat-error *ngIf="patientForm.get('phoneNumber').hasError('required')">
                Telefon jest wymagany!
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-6 col-lg-4">
            <mat-label>Data urodzenia</mat-label>
            <input formControlName="birthDate" type="date" matInput>
            <mat-error *ngIf="patientForm.get('birthDate').hasError('required')">
                Data urodzenia jest wymagana!
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-6 col-lg-4">
            <mat-label>Płeć</mat-label>
            <select formControlName="sex" matNativeControl>
                <option value="MAN">M</option>
                <option value="WOMEN">K</option>
            </select>
            <mat-error *ngIf="patientForm.get('sex').hasError('required')">
                Płeć jest wymagana!
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-6 col-lg-4">
            <mat-label>Numer karty</mat-label>
            <input formControlName="cardNumber" type="text" matInput>
            <mat-error *ngIf="patientForm.get('cardNumber').hasError('required')">
                Numer karty jest wymagany!
            </mat-error>
        </mat-form-field>
        <h5 id="subheader" class="col-12 mt-2">Adres</h5>
        <form formGroupName="address">
            <mat-form-field class="col-md-6 col-lg-4">
                <mat-label>Kraj</mat-label>
                <input formControlName="country" type="text" matInput>
                <mat-error *ngIf="patientForm.get('address').get('country').hasError('required')">
                    Kraj jest wymagany!
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-6 col-lg-4">
                <mat-label>Region</mat-label>
                <input formControlName="region" type="text" matInput>
                <mat-error *ngIf="patientForm.get('address').get('region').hasError('required')">
                    Region jest wymagany!
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-6 col-lg-4">
                <mat-label>Miasto</mat-label>
                <input formControlName="city" type="text" matInput>
                <mat-error *ngIf="patientForm.get('address').get('city').hasError('required')">
                    Miasto jest wymagane!
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-6 col-lg-4">
                <mat-label>Kod pocztowy</mat-label>
                <input formControlName="postalCode" type="text" matInput>
                <mat-error *ngIf="patientForm.get('address').get('postalCode').hasError('required')">
                    Kod pocztowy jest wymagany!
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-6 col-lg-4">
                <mat-label>Ulica</mat-label>
                <input formControlName="street" type="text" matInput>
                <mat-error *ngIf="patientForm.get('address').get('street').hasError('required')">
                    Ulica jest wymagana!
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-6 col-lg-4">
                <mat-label>Numer domu</mat-label>
                <input formControlName="houseNr" type="text" matInput>
                <mat-error *ngIf="patientForm.get('address').get('houseNr').hasError('required')">
                    Numer domu jest wymagany!
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-6 col-lg-4">
                <mat-label>Numer mieszkania</mat-label>
                <input formControlName="roomNr" type="text" matInput>
                <mat-error *ngIf="patientForm.get('address').get('roomNr').hasError('required')">
                    Numer mieszkania jest wymagany!
                </mat-error>
            </mat-form-field>
        </form>
    </form>
    <h4 id="subheader" class="mt-5">Zęby</h4>
</div>
<app-jaw-view [teeth]="teeth"></app-jaw-view>
<app-spinner *ngIf="isLoading"></app-spinner>