@import 'var';

.table-container {
    table {
        width: 100%;
    }
}

.link {
    color: $primary;
    cursor: pointer;
    &:hover {
        color: $accent;
        font-weight: bolder;
    }
}

.no-patient {
    color: $warn;
}