<div class="container">
    <div class="table-container mt-5 pb-3">
        <h4 id="subheader">Wizyty</h4>
        <mat-form-field class="w-100">
            <mat-label>Szukaj wizyty</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Szukaj wizyty" #input>
        </mat-form-field>
        <table mat-table fixedLayout="true" [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="start">
              <th mat-header-cell *matHeaderCellDef> Czas rozpoczęcia </th>
              <td class="card-number" mat-cell *matCellDef="let element" (click)="openDetails(element.id)"> {{element.dateTimeStart}} </td>
            </ng-container>
            <ng-container matColumnDef="end">
              <th mat-header-cell *matHeaderCellDef> Czas zakończenia </th>
              <td mat-cell *matCellDef="let element"> {{element.dateTimeEnd}} </td>
            </ng-container>
            <ng-container matColumnDef="info">
              <th mat-header-cell *matHeaderCellDef> Informacje </th>
              <td mat-cell *matCellDef="let element"> {{element.information}} </td>
            </ng-container>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell no-patient" colspan="4">Brak wizyty: "{{input.value}}"</td>
            </tr>
            <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
          </table>
          <mat-paginator class="mat-elevation-z8" #paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
    </div>
</div>
