@import 'var';


.link {
    color: $primary;
    cursor: pointer;
    &:hover {
        color: $accent;
        font-weight: bolder;
    }
}

.mat-input-element:disabled {
    color: currentColor;
}

.no-patient {
    color: $warn;
}
#star{
    font-size: 80px;
    color:$primary;
    background: rgba(193, 228, 192, 0.815);
  }