<div class="container mt-5">
    <div class="row contact">
        <div class="col-lg-4 contact-info d-flex flex-column">
            <h4 id="subheader">Informacje i kontakt</h4>
            <app-office-info *ngIf="officeData" (getData)="fetchInfo()" [data]="officeData" class="col-lg-5"></app-office-info>
            <app-spinner *ngIf="!officeData"></app-spinner>
        </div>
        <div class="col-lg-8 contact-map mt-3 mt-lg-0">
            <iframe [ngClass]="{'d-none': !mapIsLoaded}" class="map" (load)="mapLoaded()" loading="lazy" allowfullscreen
                src="https://maps.google.com/maps?width=100%25&amp;height=500&amp;hl=pl&amp;q=Wroc%C5%82aw%20Trwa%C5%82a%205+(Prodental)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
            </iframe>
            <app-spinner *ngIf="!mapIsLoaded"></app-spinner>
        </div>
    </div>
    <div class="row mt-3 mt-lg-5">
        <div class="col-12">
            <h4 id="subheader">Historia</h4>
            <p *ngIf="officeData">{{officeData.address.information}}</p>
            <app-spinner *ngIf="!officeData"></app-spinner>
        </div>
    </div>
</div>