@import "var";

:host {
    display: inline-block;
    .grid {
        display: grid;
        grid-template-columns: 120px 1fr;
        column-gap: 1em;
        align-items: center;
    }
    button {
        height: 40px;
    }
    .address-form {
        grid-column-end: span 2;
        display: grid;
        grid-template-columns: 120px 1fr;
        column-gap: 1em;
        align-items: center;
        &-cont {
            min-width: 0;
            min-height: 0;
        }

    }
}

