@import "var";

:host {
    display: inline-block;
    .grid {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 1em;
        align-items: center;
    }

    h4 {
        font-size: 2em;
        font-weight: bolder;
    }
}

