@import 'var';

.table-container {
    table {
        width: 100%;
    }
}

.card-number {
    color: $primary;
    cursor: pointer;
    &:hover {
        color: $accent;
        font-weight: bolder;
    }
}

.no-patient {
    color: $warn;
}


  #time{
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
  }
  
  .example-large-box {
    height: 500px;
    width: 500px;
  }