<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <h4 id="subheader">Dodaj lekarza</h4>
        <button (click)="back()" mat-stroked-button color="accent">Cofnij</button>
    </div>
    <h5 id="subheader" class="mt-2">Dane osobowe</h5>
    <form [formGroup]="docForm" class="row form">
        <mat-form-field class="col-md-6 col-lg-4">
            <mat-label>Imię</mat-label>
            <input formControlName="firstName" type="text" matInput>
            <mat-error *ngIf="docForm.get('firstName').hasError('required')">
                Imię jest wymagane!
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-6 col-lg-4">
            <mat-label>Drugie imię</mat-label>
            <input formControlName="secondName" type="text" matInput>
            <mat-error *ngIf="docForm.get('secondName').hasError('required')">
                Drugie imię jest wymagane!
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-6 col-lg-4">
            <mat-label>Nazwisko</mat-label>
            <input formControlName="lastName" type="text" matInput>
            <mat-error *ngIf="docForm.get('lastName').hasError('required')">
                Nazwisko jest wymagane!
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-6 col-lg-4">
            <mat-label>Email</mat-label>
            <input formControlName="email" type="email" matInput>
            <mat-error *ngIf="docForm.get('email').hasError('required')">
                Email jest wymagany!
            </mat-error>
            <mat-error *ngIf="docForm.get('email').hasError('email')">
                Email jest niepoprawny!
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-6 col-lg-4">
            <mat-label>Telefon</mat-label>
            <input formControlName="phoneNumber" type="number" matInput>
            <mat-error *ngIf="docForm.get('phoneNumber').hasError('required')">
                Telefon jest wymagany!
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-6 col-lg-4">
            <mat-label>Pesel</mat-label>
            <input formControlName="pesel" type="number" matInput>
            <mat-error *ngIf="docForm.get('pesel').hasError('required')">
                Pesel jest wymagany!
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-6 col-lg-4">
            <mat-label>Data urodzenia</mat-label>
            <input formControlName="birthDate" type="date" matInput>
            <mat-error *ngIf="docForm.get('birthDate').hasError('required')">
                Data urodzenia jest wymagana!
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-6 col-lg-4">
            <mat-label>Płeć</mat-label>
            <select formControlName="sex" matNativeControl>
                <option value="MAN">M</option>
                <option value="WOMEN">K</option>
            </select>
            <mat-error *ngIf="docForm.get('sex').hasError('required')">
                Płeć jest wymagana!
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-6 col-lg-4">
            <mat-label>Specjalizacja</mat-label>
            <input formControlName="specialization" type="text" matInput>
            <mat-error *ngIf="docForm.get('specialization').hasError('required')">
                Specjalizacja jest wymagana!
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-6 col-lg-4">
            <mat-label>Numer licencji</mat-label>
            <input formControlName="licence" type="text" matInput>
            <mat-error *ngIf="docForm.get('licence').hasError('required')">
                Numer licencji jest wymagany!
            </mat-error>
        </mat-form-field>
        <h5 id="subheader" class="col-12 mt-2">Adres</h5>
        <form formGroupName="address">
            <mat-form-field class="col-md-6 col-lg-4">
                <mat-label>Kraj</mat-label>
                <input formControlName="country" type="text" matInput>
                <mat-error *ngIf="docForm.get('address').get('country').hasError('required')">
                    Kraj jest wymagany!
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-6 col-lg-4">
                <mat-label>Region</mat-label>
                <input formControlName="region" type="text" matInput>
                <mat-error *ngIf="docForm.get('address').get('region').hasError('required')">
                    Region jest wymagany!
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-6 col-lg-4">
                <mat-label>Miasto</mat-label>
                <input formControlName="city" type="text" matInput>
                <mat-error *ngIf="docForm.get('address').get('city').hasError('required')">
                    Miasto jest wymagane!
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-6 col-lg-4">
                <mat-label>Kod pocztowy</mat-label>
                <input formControlName="postalCode" type="text" matInput>
                <mat-error *ngIf="docForm.get('address').get('postalCode').hasError('required')">
                    Kod pocztowy jest wymagany!
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-6 col-lg-4">
                <mat-label>Ulica</mat-label>
                <input formControlName="street" type="text" matInput>
                <mat-error *ngIf="docForm.get('address').get('street').hasError('required')">
                    Ulica jest wymagana!
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-6 col-lg-4">
                <mat-label>Numer domu</mat-label>
                <input formControlName="houseNr" type="text" matInput>
                <mat-error *ngIf="docForm.get('address').get('houseNr').hasError('required')">
                    Numer domu jest wymagany!
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-6 col-lg-4">
                <mat-label>Numer mieszkania</mat-label>
                <input formControlName="roomNr" type="text" matInput>
                <mat-error *ngIf="docForm.get('address').get('roomNr').hasError('required')">
                    Numer mieszkania jest wymagany!
                </mat-error>
            </mat-form-field>
        </form>
        <h5 id="subheader" class="mt-2">Hasło</h5>
        <form formGroupName="password" class="w-100">
            <mat-form-field class="col-md-6">
                <mat-label>Hasło</mat-label>
                <input formControlName="pass" type="password" matInput [errorStateMatcher]="passwordMatcher">
                <mat-error *ngIf="docForm.get('password').get('pass').hasError('required')">
                    Hasło jest wymagane!
                </mat-error>
                <mat-error *ngIf="docForm.get('password').hasError('stringMismatch') && !docForm.get('password').get('pass').hasError('required')">
                    Hasła muszą być identyczne!
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-6">
                <mat-label>Potwierdź hasło</mat-label>
                <input formControlName="confirmPass" type="password" matInput [errorStateMatcher]="passwordMatcher">
                <mat-error *ngIf="docForm.get('password').get('confirmPass').hasError('required')">
                    Potwierdź hasło jest wymagane!
                </mat-error>
                <mat-error *ngIf="docForm.get('password').hasError('stringMismatch') && !docForm.get('password').get('confirmPass').hasError('required')">
                    Hasła muszą być identyczne!
                </mat-error>
            </mat-form-field>
        </form>
    </form>
    <button (click)="confirm()" mat-raised-button color="primary" class="w-100 mt-2">Dodaj</button>
</div>
